/*!
 * Developer : Aslaliya Rinkal
   Company : Searchnative India PVT. LTD.
Project Name : CAPatel

 */

// Primary colors
//-----------------------------
$black: #000000;
$white: #ffffff;
$primary-color: #2b2a29;
$secondary-color: #c12728;
$font-family-lora-regular: 'Lora-Regular';
$font-family-lora-bold: 'Lora-Bold';
$font-family-dinpro-italic: 'Dinpro-Italic';
$font-family-dinpro-regular: 'Dinpro-Regular';
$font-family-dinpro-bold: 'Dinpro-Bold';
$font-family-dinpro-light: 'Dinpro-Light';
// $font-family-dinpro-semibold: 'Poppins-SemiBold';
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-25: 25px;
$font-28: 28px;
$font-32: 32px;
$font-30: 30px;
$font-36: 36px;
$font-42: 42px;
$font-46: 46px;
$font-46: 45px;


body {
    font-family: $font-family-dinpro-regular;
    font-size: 18px;
    color: $black;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.bg-body {
    background-color: $white;
}

a {
    text-decoration: none; //@include transition(.4s ease-in-out);
    cursor: pointer;
    &:hover{
        text-decoration: none !important;
    }
}
a.sub-title:hover{
}
img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.padding-60 {
    padding: 0px 0px 60px;
}


*:focus {
    outline: none;
}
.section-margin{
    margin-top: 120px;
}
.paragraph-padding{
    padding-bottom: 40px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-t-b-20{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.m-b-20{
    margin-bottom: 20px !important;
}
.p-l-0{
    padding-left: 0px !important;
}
.p-r-0{
    padding-right: 0px !important;
}
@mixin padding-80 {
    padding:80px 0;
}
@mixin section-main-title{
    font-size: $font-36;
    color:$white;
    font-family: $font-family-dinpro-light;
    text-transform: uppercase;
    position: relative;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    line-height: 0.8;
}

@mixin section-main-title-before{
    content:'';
    display: block;
    border-top:1px solid $white;
    width: 0%;
    height:1px; 
    margin-right:30px;
    transform-origin: 100%; 
    transition: all 2s linear;
    // -webkit-transition: all 3s 5s linear;
    // -webkit-animation: line-animate 3s;
    // -webkit-animation-fill-mode: forwards;
    // animation: line-animate 3s;
    // animation-fill-mode: forwards;
}
@mixin section-main-title-after{
    content:'';
    display: block;
    border-top:1px solid $white;
    width: 0%;
    height:1px;            
    margin-left: 30px;   
    transform-origin: 0%; 
    transition: all 2s linear;
    // -webkit-transition: all 3s 2.5s linear;
    // -webkit-animation: rline-animate 3s;
    // -webkit-animation-fill-mode: forwards;
    // animation: rline-animate 3s;
    // animation-fill-mode: forwards;
}

@mixin section-sub-minititle{
    font-family: $font-family-dinpro-regular;
    font-size: $font-25;
    color: $secondary-color;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: 15px;
}
@mixin about-sub-minititle{
    font-family: $font-family-dinpro-regular;
    font-size: $font-22;
    color: $primary-color;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: 15px;
}
@mixin light-text{
     color: $primary-color;
    font-family: $font-family-dinpro-light;
    font-size: $font-16;
}
@mixin regular-text{
     color: $primary-color;
    font-family: $font-family-dinpro-regular;
    font-size: $font-20;
}
@mixin product-title{
    color: $white;
    font-family: $font-family-dinpro-regular;
    font-size: $font-22;
    position: absolute;
    bottom: 80px;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px #000;
    z-index: 11;
    left: 0;
    
}
@mixin sub-title{
    font-size: $font-22;
    font-family: $font-family-dinpro-regular;
    color: $primary-color;
}
@mixin content-text{
    font-size: $font-14;
    font-family: $font-family-dinpro-regular;
    color: $primary-color;
        margin: 15px 0px;
}
@mixin line-animate{
    margin: 0 auto;
    text-align: center;
//     -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
//    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
//    animation: mymove 3s;
//    animation-fill-mode: forwards;
}
@mixin inner-banner-section{
    // height: 600px;
    width: 100%;
}
@mixin page-title{
    font-family: $font-family-dinpro-regular;
    font-size: 42px;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
        text-shadow: 0 0 36px rgba(193,39,49,0.9), 0 0 106px rgba(193,39,49,0.9), 0 0 156px rgba(193,39,49,0.9), 0 0 36px rgba(193,39,49,0.9), 0 0 106px rgba(193,39,49,0.9), 0 0 156px rgba(193,39,49,0.9);
}
 @keyframes fade {
        0% {
            opacity: 1
        }
        33.333% {
            opacity: 0
        }
        66.666% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    @keyframes fade2 {
        0% {
            opacity: 0
        }
        33.333% {
            opacity: 1
        }
        66.666% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    @keyframes fade3 {
        0% {
            opacity: 0
        }
        33.333% {
            opacity: 0
        }
        66.666% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
.button {
    padding: 5px 25px;
    position: relative;
    border: 1px solid $secondary-color;

    cursor: pointer;
    background-color: transparent;

    font-size: 19px;
    color: $secondary-color !important;
    text-transform: uppercase;
    &:focus {
        outline: none;
    }
    &:before {
        content: attr(data-button-label);
        overflow: hidden;
        white-space: nowrap;

        position: absolute;
        top: 5px;
        left: 25px;
    }
    .button__label {
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -moz-text-stroke: 1px $secondary-color;
        -webkit-text-stroke: 1px $secondary-color;
    }
}
.button_type1 {
    &:before {
        width: 0;
        height: calc(100% - 16px);
        will-change: width;
        transition: width .5s cubic-bezier(0.96, 0.18, 0.1, 0.88);
    }
    &:hover:before,
    &:focus:before {
        width: calc(100% - 50px);
        transition-delay: 0.2s;
    }
}
.relpos{position: relative;}

@mixin section-main-title-md-down{
        line-height: 1.4;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }

