

@import "config";
@import "fonts";
// @include fontFace('Lora-Regular', '../fonts/lora-regular');
// @include fontFace('Lora-Bold', '../fonts/lora-bold');
@include fontFace('Dinpro-Regular', '../fonts/dinpro-regular');
@include fontFace('Dinpro-Italic', '../fonts/dinpro-italic');
@include fontFace('Dinpro-Bold', '../fonts/dinpro-bold');
@include fontFace('Dinpro-Light', '../fonts/dinpro-light');
// @include fontFace('Poppins-SemiBold', '../fonts/poppins-semibold');
// add scss sohit
$font-family-dinpro-regular: 'Dinpro-Regular', sans-serif;
$font-family-dinpro-light: 'Dinpro-Light', sans-serif;
$font-bold: 700;
@font-face {
    font-family: 'Dinpro-Regular';
    src: url('../fonts/dinpro-regular.otf') format('otf'), url('../fonts/dinpro-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dinpro-Light';
    src: url('../fonts/dinpro-light.otf') format('otf'), url("../fonts/dinpro-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

header {
    .top-bar {
        background-color: $primary-color;
        min-height: 40px;
        color: $white;
        font-family: $font-family-dinpro-regular;
        font-size: $font-14;
        padding-top: 7px;
        a.top-links {
            color: $white;
            margin-right: 40px;
        }

    }
    .navbar {
        padding: 3px;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-family: $font-family-dinpro-regular;
                    font-size: $font-16;
                    color: $primary-color;
                    padding: 0px 15px;
                    text-transform: uppercase;
                    font-weight: bold;

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $secondary-color;
                        transition: width .3s;
                    }

                    &:hover::after {
                        width: 100%; //transition: width .3s;
                    }
                    &:active::after {
                        width: 100%; //transition: width .3s;
                        display: block;
                    }
                    &.active{
                        &:after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #c12728;
                            transition: width .3s;
                        }
                    }
                }
            }
        }
    }
}

.carousel {
    .carousel-inner {
        .carousel-item {
            img {
                height: 85vh;
            }
        }
    }
}

.section-main-title {
    @include section-main-title;
    width: 100%;

    .line {
        border-bottom: 2px solid $primary-color;
        width: 40px;
        padding: 0px;
        margin-left: 20px;
        position: absolute;
        bottom: 0;
    }
}

.section-sub-minititle {
    @include section-sub-minititle;
}
.about-sub-minititle{
    @include about-sub-minititle;
}
.light-text {
    @include light-text;
}

.regular-text {
    @include regular-text;
}

.sub-title {
    @include sub-title;
}

.m-b-40 {
    margin-bottom: 40px;
}

.content-text {
    @include content-text;
}

.social-list {
    padding: 0px;
    margin: 0px;
    li {
        list-style: none;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid $white;
        // border-radius: 50px;
        margin: 8px 4px;
        padding: 1px;
        text-align: center;
        a {
            font-size: $font-12;
            color: $white;
            .fa {
                font-size:$font-16;
            }
        }
        &:hover {
            background-color: $white;
            a {
                color: $primary-color;
            }
        }
    }
    .searchbox {
        position: relative;
        min-width: 50px;
        width: 0%; //    height:50px;
        float: right;
        overflow: hidden;
        background: none;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
    }

    .searchbox-input {
        top: 0;
        right: 0;
        border: 0;
        outline: 0;
        width: 100%;
        height: 25px;
        margin: 0;
        padding: 0px 55px 0px 20px;
        font-size: 12px;
        color: #fff;
        background: none !important;
    }
    .searchbox-input::-webkit-input-placeholder {
        color: #d74b4b;
    }
    .searchbox-input:-moz-placeholder {
        color: #d74b4b;
    }
    .searchbox-input::-moz-placeholder {
        color: #d74b4b;
    }
    .searchbox-input:-ms-input-placeholder {
        color: #d74b4b;
    }

    .searchbox-icon,
    .searchbox-submit {
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        border: none; //    border:1px solid #fff;
        //    border-radius: 50px;
        outline: 0;
        text-align: center;
        cursor: pointer;
        color: #dcddd8;
        background: none !important;
    }

    .searchbox-open {
        width: 100%;
    }
    .search-li {
        width: auto;
        &:hover {
            background: none !important;
        }
    }
}

.about-section {
    background: url(../img/About-pattarn.jpg) no-repeat;
    background-size: cover;
    
    .about-body{
        background-color: $white;
        box-shadow: 0px 0px 40px 0px rgba(148, 148, 148, 0.47);
        @include padding-80;
        padding-right:30px;
        padding-left:30px;

        .about-sub-italic{
            font-family: $font-family-dinpro-regular;
            font-size: $font-18;
            font-style: italic;
            margin-bottom:20px;
        }
        .mission-vision{
            margin-top:40px;
            padding:0 20px;

            .sub-title{
                text-align: center;
                font-size: $font-28;
                font-weight: bold;
                padding-bottom:30px;
                
            }
            .light-text{
                margin-bottom:0;
                text-align: center;
                padding-bottom:30px;
            }
        }

        .mission-border{
            border-right:2px dashed #b7b7b7;
        }
        .about-img{
            min-height: 377px;
            height: 377px;
        }
    }

    .slider {
        width: 277px;
        height: 381px;
        margin: 20px auto;
        position: relative;
        .slide1,
        .slide2,
        .slide3,
        .slide4 {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .slide1 {
            background: url(../img/about1.png)no-repeat center;
            background-size: cover;
            animation: fade 4s ease-in;
            -webkit-animation: fade 4s ease-in;

        }
        .slide2 {
            background: url(../img/about1-alter.png)no-repeat center;
            background-size: cover;
            animation: fade2 5s infinite;
            -webkit-animation: fade2 5s infinite;
        }
        .slide3 {
            background: url(../img/about2.png)no-repeat center;
            background-size: cover;
            animation: fade 4s ease-in;
            -webkit-animation: fade 4s ease-in;

        }
        .slide4 {
            background: url(../img/about2-alter.png)no-repeat center;
            background-size: cover;
            animation: fade2 5s infinite;
            -webkit-animation: fade2 5s infinite;
        }
    }
}

.product-section {
    background-color: #f7f7f7;
    overflow-x: hidden;
    .product-list {
        margin-top: 30px;
        padding: 0px;
        margin-left:.5%;
        margin-right:.5%;
        li {
            margin: 0 0.5%;
            display: inline-block;
            list-style: none;
            position: relative;
            transition: transform .6s;
            width: 18.7%;
            height: 450px;
            .product-title {
                @include product-title;
            }
            &:hover {
                box-shadow: 0px 2px 7.52px 0.48px rgba(0, 0, 0, 0.4);
                text-shadow: 0px 2px 7.52px rgba(0, 0, 0, 0.4);
                transform: scale(1.05);
                .overlay {
                    opacity: 1;
                }
            }
            .overlay {
                background: linear-gradient(rgba(255,0,0,0), #000);
                bottom: 0;
                display: block;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
                opacity: 1;
            }
            img {
                position: absolute;
                width: 100%;
                height: 450px;
            }
        }
    }

}

.process-section {
    background-image: url("../img/process.png");
    height: 420px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .section-main-title {
        color: $white;
        width: 100%;
        margin-bottom: 0px;
        .line {
            border-bottom: 2px solid $white;
        }
    }
    .process-title {
        font-family: $font-family-dinpro-regular;
        font-size: $font-42;
        color: $white;
        padding: 40px 0px;
    }
    .video-icon {
        width: 9%;
        height: 7%;
        cursor: pointer
    }
    .video-title {
        font-family: $font-family-dinpro-regular;
        font-size: $font-20;
        color: $white;
        width: 124px;
        margin-left: 20px;
        margin-top: -8px;
    }
}



// sohit ----------------------------
// testimonial-section css start
.testimonial-section {
    background-color: #ededed;
    position: relative;
    @include padding-80;

    .single-section-main{
       padding-top:80px;

       

    #quote_carousel{ 
        transition: all .5s linear;
            
        .owl-item{
            transition: all .5s linear;
        }
        .owl-dots{
            display: none;
        }
        .owl-prev{
            position: absolute;
            left:-100px;
            top:50%;
            transform: translateY(-50%);
            justify-content: center;
            width: 50px;
            color:$secondary-color;
            height: 50px;
            border:1px solid $secondary-color;
            font-size:30px;
        }
        .owl-next{
            position: absolute;
            right:-100px;
            top:50%;
            transform: translateY(-50%);
            justify-content: center;
            width: 50px;
            color:$secondary-color;
            height: 50px;
            border:1px solid $secondary-color;
            font-size:30px;
        }
        .sub-content {
            margin-left: -30px;
            border:1px solid $secondary-color;
            position: relative;
            border-left:none;
            height: 90%;
            top:10%;
            border-left: none;
         
            .text-d{
                margin:28px 0;
                display: block;

                .person-name{
                    font-size: $font-25;
                    color:$primary-color;
                }

                .author-name {
                    font-family: $font-family-dinpro-regular;
                    font-size: $font-18;
                    color: $secondary-color;
                    text-align: left;
                }

                .author-content {
                    font-family: $font-family-dinpro-regular;
                    font-size: $font-18;
                    color: $primary-color;
                    margin: 30px;
                }
                    
                .btn-red{
                    border: 1px solid $secondary-color;
                    font-size: 16px;
                    text-align: center;
                    font-family: $font-family-dinpro-regular;
                    padding: 10px 16px;
                    color:$secondary-color;

                    &:hover{
                        background-color: $secondary-color;
                        color:#fff;
                    }
                }
            }
        }
    }
}

    .testimonial-content {
        display: flex;
        flex-direction: row;
        text-align: left;
        img {
            height: 100%;
            width: 100%;
            height: 435px;
            min-height: 435px;
        }
    }
    .section-main-title {
        @include section-main-title;
        color: $secondary-color;
        &:before{
            @include section-main-title-before;
            border-top:2px solid $secondary-color;
        }
        &:after{
            @include section-main-title-after;
            border-top:2px solid $secondary-color;
        }
        @-webkit-keyframes testim-animate {
            from{width:0;}
            to {width: 10%;}
        }
        @-webkit-keyframes testim-animate {
            from{width:0;}
            to {width: 10%;}
        }
    }
}

// testimonial section end

// client section start
.client-section {
    background-color: #f2f2f2;
    padding: 80px 0px;

    .section-main-title {
        @include section-main-title;
        color: $secondary-color;
        &:before{
            @include section-main-title-before;
            border-top:2px solid $secondary-color;
        }
        &:after{
            @include section-main-title-after;
            border-top:2px solid $secondary-color;
        }
        @-webkit-keyframes testim-animate {
            from{width:0;}
            to {width: 10%;}
        }
        @keyframes testim-animate {
            from{width:0;}
            to {width: 10%;}
        }
    }

    .padding-40{
        padding-top:80px;
        padding-left:40px;
        padding-right:40px;
    }

    .owl-carousel {
        .item {
            
            img {
                max-width: 70%;
                margin:0 auto;
                filter: gray; 
                -webkit-filter: grayscale(1);
                -webkit-transition: all .3s ease-in-out; 
                opacity: 0.5; 
                &:hover{
                    filter: none;
                    -webkit-filter: grayscale(0);
                    -webkit-transform: scale(1.01);
                    opacity: 1;
                }
            }
            
        }
        .owl-dots{
            text-align: center;

            .owl-dot{
                background-color: #ccc;
                width:10px;
                height:10px;
                border-radius: 50%;
                margin:20px 4px 0 0;
                &.active{
                    background-color:$secondary-color;
                }
            }
            
        }
    }



}
// client section end

.certification-section {
    background-color: $white;
    position: relative;
    .sedex-logo{ 
        img{
        min-width: 50%;
        max-width: 50%;
    }
    }
    .pattarn-bg{
        background: url(../img/bg-pattarn.jpg) no-repeat;
        background-size: cover;
        padding:230px 40px 242px 170px;
        position: relative;
        margin-left:-15px;

        &:before{
            content: '';
            display: block;
            border-top: 2px solid $secondary-color;
            width: 0%;
            height: 1px;
            right:0;
            transform: translateY(50%);
            top:50%;
            position: absolute;
            transform-origin: 100%;
            transition: all 2s linear;
            // -webkit-transition: all 3s 5s linear;
            // -webkit-animation: sedex-animate 3s;
            // -webkit-animation-fill-mode: forwards;
            // animation: sedex-animate 3s;
            // animation-fill-mode: forwards;
        }
        @-webkit-keyframes sedex-animate {
            from{width:0;}
            to {width: 30%;}
        }

    }

    .sedex-text{
        margin-top:120px;
        padding-right:30px;
        .sub-title{
            color:$secondary-color;
            font-family: $font-family-dinpro-light;
            font-size:$font-36;
            text-transform: uppercase;
            position: relative;
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            -o-display: flex;
            display: flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;

            &:after {
                content: '';
                display: block;
                border-top: 2px solid $secondary-color;
                width: 0%;
                height: 1px;
                margin-left: 30px;
                transform-origin: 0%;
                transition: all 2s linear;
                -webkit-transition: all 2s linear;
                // -webkit-animation: sedex-title 3s;
                // -webkit-animation-fill-mode: forwards;
                // animation: sedex-title 3s;
                // animation-fill-mode: forwards;
            }

            @-webkit-keyframes sedex-title {
                from{width:0;}
                to {width: 20%;}
            }

        }
        .content-text{
            font-size:$font-18;
            text-align: justify;
        }
    }
}
// footer section start

footer {
    background-color: $primary-color;
    padding: 0px 0px;
    padding-bottom: 0px;
    position: relative;

    .red-bg-section{
        background: url(../img/red-bg.jpg) no-repeat;
        background-size: cover;
        padding:120px 0 80px 90px;
        position: relative;
        top:0;
        bottom:0;
        

        &:before{
            content:'';
            border-right:2px solid #fff;
            height:0%;
            width:1px;
            position: absolute;
            top:0;
            margin:0 auto;
            right:-126px;
            left:0;
            transition: all 2s linear;
        }
        &:after{
            content:'';
            border-right:2px solid #fff;
            height:0%;
            width:1px;
            position: absolute;
            bottom:0;
            margin:0 auto;
            right:-126px;
            left:0;
            transition: all 2s linear;
        }
    } 
   
    .copyright {
        
        p.copyright {
            background-color: #1f1f1f;
            color: $white;
            font-family: $font-family-dinpro-regular;
            font-size: $font-16;
            text-align: center;
            margin-bottom: 0px;
            padding: 20px 0;

        }
    }
    .footer-pd{
        @include padding-80;
    }
    .footer-title {
        font-family: $font-family-dinpro-regular;
        font-size: $font-22;
        color: $white;
        text-transform: uppercase;
        
    }
    .line-red{
        border-top:2px solid $secondary-color;
        width: 0%;
        margin:10px 0;
        transition: all 2s linear;
    }
    .product-list{
        padding-left:0;
        li{
            text-decoration: none;
            list-style: none;
            margin-bottom:10px;
            a{
                text-decoration: none;
                list-style: none;
                color:$white;
                font-size:16px;
                text-transform: uppercase;
                
            }
        }
    }
    .footer-link {
        margin: 0px;
        padding: 0px;
        li {
            position: relative;
            left:30%;
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            -o-display: flex;
            display: flex;
            justify-content: center;
            border:1px solid $white;
            background-color: $secondary-color;
            text-align: center;
            list-style: none;
            margin-bottom:20px;
            font-size:$font-16;
            text-transform: uppercase;
            min-width:50%;
            max-width:50%;
            a {
                font-family: $font-family-dinpro-regular;
                font-size: $font-16;
                color: $white;
                display: block;
                padding: 8px 10px;
            }
        }
    }
    .social-list {
        li {
            width: 35px;
            height: 35px;
        }
    }
    .map-section{
        margin-right:10px;
        margin-bottom:10px;
    }
    .address {

        margin:0px 20px 0 0;

        .address-main {
            display: flex;
            .fa {
                color: $white;
            }
            .address-title {
                font-family: $font-family-dinpro-regular;
                font-size: $font-16;
                color: $white;
            }
        }
        .address-text {
            font-family: $font-family-dinpro-regular;
            font-size: $font-14;
            color: $white;
            margin-top: 10px;
        }
        .address-contact {
            font-family: $font-family-dinpro-regular;
            font-size: $font-14;
            color: $white;

            a {
                color: $white;
            }
        }
    }
}


@keyframes draw1 {
    from {
        stroke-dashoffset: 1200;
    }
    to {
        stroke-dashoffset: 600;
    }
}

.line-svg {
    position: absolute;
    margin-left: 72px;
    z-index: -1;
    top: 50%;
    #mySVG {
        position: fixed;

        height: 100vh;
        top: 0px;
        .st0 {
            fill: none;
            stroke-dashoffset: 3px;
            stroke: $secondary-color;
            stroke-width: 1;
            stroke-miterlimit: 10;
            stroke-dasharray: 8;
        }

        .mask-style {
            stroke: white;
            stroke-width: 7;
        }
        #circle {
            //            position: absolute;
            //            margin-left: 72px;
            z-index: -1; //            top: 50%;
            margin-bottom: 10px;
            fill: $secondary-color;
        }
    }
}

/* About Us page css start */

.inner-banner-section {
        position: relative;
        min-height: 330px;
        // background:url(../img/About-page-bg.jpg) no-repeat;
        

        img{
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 330px;
        }

        .banner-line{
        border:2px solid $white;
        position: absolute;
        bottom: 0;
        margin-bottom: 5px;
        width: 100%;
        }

    .banner {
        position: absolute;
        top:50%;
        right:0;
        left:0;
        margin:0 auto;
        transform: translateY(-50%);
        

        // .inner-page-bannerImg {
        //     @include inner-banner-section;
        // }
        .section-main-title {
            @include section-main-title;
            color: $secondary-color;
            margin-bottom:40px;
            &:before{
                @include section-main-title-before;
                border-top:2px solid $secondary-color;
            }
            &:after{
                @include section-main-title-after;
                border-top:2px solid $secondary-color;
            }
            @-webkit-keyframes testim-animate {
                from{width:0;}
                to {width: 10%;}
            }
            @keyframes testim-animate {
                from{width:0;}
                to {width: 10%;}
            }
        }
    
}

}

.showcasing-section {
    .slider {
        width: 100%;
        height: 346px;
        .showcaseImg1,
        .showcaseImg2 {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .showcaseImg1 {
            background: url(../img/showcase1.png)no-repeat center;
            background-size: contain;
            animation: fade 4s ease-in;
            -webkit-animation: fade 4s ease-in;
        }
        .showcaseImg2 {
            background: url(../img/showcase2.png)no-repeat center;
            background-size: contain;
            animation: fade2 5s infinite;
            -webkit-animation: fade2 5s infinite;
        }
    }
}

.team-section {
    @include padding-80;
    background-color: #ededed;
    .section-main-title {
        @include section-main-title;
        color: $secondary-color;
        margin-bottom:40px;
        &:before{
            @include section-main-title-before;
            border-top:2px solid $secondary-color;
        }
        &:after{
            @include section-main-title-after;
            border-top:2px solid $secondary-color;
        }
        @-webkit-keyframes testim-animate {
            from{width:0;}
            to {width: 10%;}
        }
        @keyframes testim-animate {
            from{width:0;}
            to {width: 10%;}
        }
    }
.team-members{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .single-team-member {
        border: 1px solid #ddd;
        margin: 0px 12px;
        -moz-transition: all 0.8s;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        // margin-bottom:40px;
        flex: 1;
        

        .member-content {
            background-color: $secondary-color;
            padding: 15px;
            .member-name {
                font-family: $font-family-dinpro-bold;
                font-size: 16px;
                margin-bottom: 5px;
                color:$white;
                text-transform: uppercase;
            }
            .member-designation {
                font-family: $font-family-dinpro-regular;
                font-size: 14px;
                color:$white;
            }
        }
        .member-img {
             position: relative;
             overflow: hidden;
            img{
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            width: 100%;
            min-width: 100%;
        }
    }
        &:hover {
            box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.24);
            text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.24);
        }

        &:hover img{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}
.leader-member{
    margin-bottom:20px;
    .single-team-member {
        .member-img{
            img{
                min-height:344px;
                height: 344px;
            }
        }
    }
}
.junior-member{
    .single-team-member {
        .member-img{
            img{
                min-height:194px;
                height: 194px;
            }
        }
    }
}


}

.showcase-cta {
    background-color: $secondary-color;
    padding: 30px 0px;
    .cta-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .cta-title {
            font-family: $font-family-dinpro-bold;
            font-size: 25px;
            color: $white;
            margin-bottom: 10px;
        }
        p {
            color: $white;
            font-size: 16px;
            font-family: $font-family-dinpro-regular;
            margin-bottom: 0px;
        }
        .btn-arrow {
            margin-left: 50px;
            width: 40%;
            .button_type1 {
                color: $white !important;
                border: 1px solid $white;
                .button__label {
                    -webkit-text-stroke: 1px $white;
                }
            }
        }
    }
}

/* About Us page css end */

/* Contact Us page css start */

.contact-form {
    .form-inline {
        justify-content: space-between;
        margin-bottom: 13px;

    }
    .form-control {
        width: 100%;
        font-family: $font-family-dinpro-light;
        border: 1px solid #626262;
        border-radius: 0px;
        color: $primary-color;
        min-height: 40px;
        border-radius: 5px;
    }
    .form-group{
        .btn-red{
            border: 1px solid $secondary-color;
            font-size: 16px;
            text-align: center;
            font-family: $font-family-dinpro-regular;
            padding: 10px 16px;
            color:$secondary-color;

            &:hover{
                background-color: $secondary-color;
                color:#fff;
            }
        }
    }
}

.single-address {
    .address-title {
        color: $primary-color;
        font-family: dinpro-Regular;
        font-size: 20px;
    }
    .address-text {
        font-family: dinpro-Light;
        font-size: 16px;
        margin: 10px 15px;
    }
    .direction-link {
        color: $secondary-color;
        text-decoration: underline;
        margin-left: 15px;
    }
    .email-text,
    .phone-text {
        color: $primary-color;
        font-family: dinpro-Regular;
        font-size: 18px;
    }
}

/* Contact Us page css end */

/* Career page css start */

.career-section {
    @include padding-80;
    .section-main-title {
        @include section-main-title;
        color: $secondary-color;
        margin-bottom:40px;
        &:before{
            @include section-main-title-before;
            border-top:2px solid $secondary-color;
        }
        &:after{
            @include section-main-title-after;
            border-top:2px solid $secondary-color;
        }
    }
    .career-text {
        text-align: center;
        color: $primary-color;
        font-family: $font-family-dinpro-regular;
        font-size: 18px;
    }
    .activity-section {
        margin-top: 40px;

        .activity-section-img{
            overflow: hidden;
            img{
                -moz-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s
            }

            &:hover img{
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                -moz-box-shadow:    inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow:         inset 0 0 10px #000000;
            }
        }
    }
}

.career-opening-section {
    padding-bottom:80px;

    .padding-15{
        padding:0 15px !important;
    }
    .section-main-title {
        @include section-main-title;
        color: $secondary-color;
        margin-bottom:40px;
        &:before{
            @include section-main-title-before;
            border-top:2px solid $secondary-color;
        }
        &:after{
            @include section-main-title-after;
            border-top:2px solid $secondary-color;
        }
    }

    .opening-sub-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: top;
        .form-control {
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
    .panel-group {
        width: 100%;
        .panel {
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid $primary-color;
            margin-bottom: 20px;
        }
        .panel-default {
            .panel-heading {
                padding: 0;
                border-radius: 0;
                color: $primary-color;
                background-color: none;
                border-color: $primary-color;
                background: none;
                .panel-title {
                    font-size: 14px;
                    a {
                        display: block;
                        padding: 15px 20px;
                        text-decoration: none;
                        font-family: $font-family-dinpro-regular;
                        color: $primary-color;
                        border-bottom: 1px solid $primary-color;
                        font-size: 18px;
                        &.collapsed {
                            border-bottom: none;
                        }
                        .more-less {
                            float: right;
                            color: #212121;
                        }
                    }
                }
            }
            .panel-body {
                padding: 15px 20px;
                font-size: 15px;
                position: relative;
                .job-position-title {
                    font-family: $font-family-dinpro-bold;
                    color: $primary-color;
                    font-size: 16px;
                    margin-bottom: 15px;
                    span {
                        font-family: $font-family-dinpro-regular;
                    }
                }
                .jd-content {
                    font-size: 15px;
                }
                .jd-list li {
                    font-size: 15px;
                    list-style: disc;
                }
                .apply_btn {
                    position: absolute;
                    right: 20px;
                }
                .btn-red{
                    border: 1px solid $secondary-color;
                    font-size: 16px;
                    text-align: center;
                    font-family: $font-family-dinpro-regular;
                    padding: 10px 16px;
                    color:$secondary-color;

                    &:hover{
                        background-color: $secondary-color;
                        color:#fff;
                    }
                }
            }
        }
    }
}

.apply-form-modal {
    .modal-title {
        font-family: $font-family-dinpro-bold;
        color: $primary-color;
        font-size: 22px;
        .close {
            font-size: 30px;
        }
    }
    .modal-dialog {
        width: 700px;
        max-width: 700px;
    }
    .modal-body{
        .contact-form{
            .form-inline{
                .btn-red{
                    border: 1px solid $secondary-color;
                    font-size: 16px;
                    text-align: center;
                    font-family: $font-family-dinpro-regular;
                    padding: 10px 16px;
                    color:$secondary-color;

                    &:hover{
                        background-color: $secondary-color;
                        color:#fff;
                    }
                }
            }
        }
    }
}

/* Career page css end */

/* Factory showcase page css start */

.page-title {
    @include page-title;
}

.item-parent {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    .item {
        position: absolute;
        top: 0;
        left: 0;
        img {
            -webkit-transition: 0.6s ease;
            transition: 0.6s ease;
        }
    }
    &:hover {
        .item {
            img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

.activity-section {
    .item-parent {
        height: 250px;
        width: 100%;
        overflow: hidden;
        .item {

            img {
                transition-duration: 4s;
                margin: 0 auto;
                display: block;
            }
        }
        &:hover {
            .item {
                img {
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    z-index: 0;
                }
            }
        }
    }
}

/* Factory showcase page css end */

/* Products page css start */

.product-list-section {

    .category-title {
        font-family: $font-family-lora-regular;
        font-size: 22px;
        color: $secondary-color;
        padding: 15px;
    }
    .product-filter-accordian {
        border: 1px solid #626262;
        .panel {
            border-bottom: 1px solid #626262;
            border-radius: 0px;
            .panel-title {
                font-size: $font-18;
                color: $primary-color;
                padding-left: 15px;
                .more-less {
                    float: right;
                    color: $primary-color;
                }
            }
            &:last-child {
                border: none;
            }
            .panel-body {
                border: none;
                padding: 0px 15px;
                .sub-cat-title {
                    font-family: $font-family-dinpro-regular;
                    font-size: $font-16;
                    color: $primary-color;
                    padding-left: 30px;
                    padding-left: 30px;
                    margin-bottom: 5px;
                }
                .sub-category-list {
                    margin-left: 45px;
                    padding-left: 0px;
                    margin-bottom: 15px;
                    li {
                        list-style: none;
                        a {
                            font-family: $font-family-dinpro-regular;
                            font-size: $font-14;
                            color: $primary-color;

                            &.active {
                                color: $secondary-color !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-product-list {
        .product-single {
            margin-bottom: 30px;
            border: 1px solid #626262;
            .product-name {
                font-size: $font-18;
                padding: 20px 15px;
                background-color: $white;
            }
            img {
                width: 100%;
                height: 246px;
            }
        }
        .load-more-content {
           }
    }
}

/* Products page css end */


// sohit css start
.nav-white{
    background-color: $white;
    transition: .6s all;
    box-shadow: 0px 1px 20.79px 0.21px rgba(215, 215, 215, 0.63);
}
.slider-banner{
    position: relative;
    width:100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    #banner-slider{
        min-height: 100vh;

        .item{
            min-height: 100vh;
            max-height: 100vh;

            img{
                width: 100%;
                background-size: cover;
                background-position: center;
            }
        }

        .owl-dots{
            position: absolute;
            bottom:20%;
            right:0;
            left:0;
            text-align: center;


            .owl-dot{
                background-color: $white;
                width: 10px;
                height:10px;
                border-radius: 50%;
                margin-right:10px;
                
            }
            .active{
                background-color: $secondary-color;
            }
        }

    }

.overlay-text{
    position: absolute;
    top:30%;
    left:3%;
    right:0;
    transform:translateX(10%);
    font-family: $font-family-dinpro-regular;
    z-index: 100;
    transition: all 2s linear;
    opacity: 1;
    margin-left:-15px;

    h3{
        font-size: 30px;
        // letter-spacing: 18px;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        margin-bottom: 45px;
        // margin-right: -25px;
        text-align: left;
        text-shadow: 0px 0px 8px #000;
        transition: all .3s ease-in;
    }
    h1{
        font-size:105px;
        text-transform: uppercase;
        color:$white;
        line-height: 0;
        font-weight: 700;
        text-align: left;
        text-shadow: 0px 0px 8px #000;
        font-family: $font-family-dinpro-bold;
        transition: all .3s ease-in;
    }
    h4{
        text-align: left;
        font-size: 105px;
        letter-spacing: 2px;
        color: $white;
        margin-top: 30px;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0px 0px 8px #000;
        transition: all .3s ease-in;
        // border-top: 1px solid $white;
        // border-bottom: 1px solid $white;
        font-family: $font-family-dinpro-bold;
    }

.slam-text{
    position: absolute;
    bottom: -30%;
    left: 15px;
    right: 0;
    margin-left: 8px;
    font-family: $font-family-dinpro-regular;
    z-index: 100;
    transition: transform 1s linear;
    opacity: 0;
    transform: translateX(30%);
    

    h3{
        font-size: 30px;
        // letter-spacing: 18px;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        margin-bottom: 45px;
        // margin-right: -25px;
        text-align: left;
        text-shadow: 0px 0px 8px #000;
        transition: all .3s ease-in;
    }
}
.slide-demo{
    opacity: 1;
    z-index: 100;
    transform: translateX(0%);
}
}


}
.section-margin-80{
    padding:80px 0;
}

// start products section
.product-section{
    position: relative;
    overflow: hidden;
    @include padding-80;
    
    &:before{
        background-color: $secondary-color;
        content: '';
        position: absolute;
        top:0;
        width: 100%;
        height: 50%;
    }
    
    .product-title-small{
        font-size: $font-22;
        line-height: 0.8;
        color:$white;
        position: relative;
        margin:0 auto;
        font-family: $font-family-dinpro-regular;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }
    .section-main-title{
       @include section-main-title;
        &:before{
            @include section-main-title-before;
        }
        &:after{
            @include section-main-title-after;
        }

        @-webkit-keyframes line-animate {
            from{width:0;}
            to {width: 10%;}
        }

        @-webkit-keyframes rline-animate {
            from{width:0;}
            to {width: 10%;}
        }
      
    }

    // products list css
    .product-list{
        li{

            .btn-red {
                border:1px solid $white;
                min-width: 60%;
                max-width: 60%;
                font-size:16px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                padding:10px 16px;
                color:$white;
                z-index: 100;
                bottom: 20px;
                text-align: center;
                font-family: $font-family-dinpro-regular;
                
            }
            .overlay{
                background: linear-gradient(rgba(255,0,0,0), #000);
                transition: all .6s;
            }
        }
    }
}
// .product-section .product-list li:hover .overlay {
//     opacity: 1;
//     transform:translateY(0%);
//     background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,0.8));
//     transition:all 1s;
// }
// products section end
// video section start
.video-section{
    height: 100vh;
    padding:80px 0;
    position: relative;
    background-image: url(../img/video-bg.jpg);
    background-size: cover;

    &:before{
        content:'';
        width:1px;
        height: 0%;
        right:0;
        margin:0 auto;
        top:0;
        left:0;
        position: absolute;
        border-right:1px solid $white;
        transform-origin: 0%; 
        transition: all 2s linear;
        // -webkit-transition: all 3s 2.5s linear;
        // -webkit-animation: standing-animate 3s;
        // -webkit-animation-fill-mode: forwards;
        // animation: standing-animate 3s;
        // animation-fill-mode: forwards;
    }
    @-webkit-keyframes standing-animate {
        from{height:0;}
        to {height: 20%;}
    }

    
    .overlay-video-text{
       position: absolute;
       top:50%;
       margin: 0 auto;
       right: 0;
       left:0;
       transform: translateY(-50%);

    }
    .product-title-small{
        font-size: $font-22;
        color:$secondary-color;
        line-height: 0.8;
        position: relative;
        font-family: $font-family-dinpro-regular;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 20px;

        
    }
    
    .section-main-title {
        @include section-main-title;
        &:before{
            @include section-main-title-before;
        }
        &:after{
            @include section-main-title-after;
        }

        @-webkit-keyframes line-animate {
            from{width:0;}
            to {width: 10%;}
        }
    
        @-webkit-keyframes rline-animate {
            from{width:0;}
            to {width: 10%;}
        }
    }
                                                              
    
    .back-video-img{
        width: 100%;
    }
    .play-icon{
        text-align: center;
        display: block;
    }
    .video-detail{
        font-size: $font-18;
        color:$white;
        text-align: center;
        margin: 20px 0;

        &:nth-last-child(1){
            margin-top:30px;
        }
    }
    
}
.video-modal{
    border:2px solid $secondary-color;
    background-color: transparent;
    box-shadow: 0 0 5px #000;
    .modal-body{
        padding:2px;
    }
}

// red-line-section start css
.red-line-section{
    padding:20px 0;
    background-color: $secondary-color;
}


// product blog
.product-section-blog{
    margin:80px 0 0 0;

.main-product-blog{
    display: flex;
    z-index: 10;
    flex-wrap: nowrap;
    // flex: 1 1 100%;
    width: 100%;
    min-height: 100%;
    

    .product-blog{
        flex: 1;
        margin-right:15px;
        position: relative;
        -webkit-transition: all .7s ease-in-out;
            -moz-transition: all .7s ease-in-out;
            -ms-transition: all .7s ease-in-out;
            -o-transition: all .7s ease-in-out;
            transition: all .7s ease-in-out;

      

        &:first-child{
            margin-left: 15px;
        }
        img{
            width: 100%;
            min-height: 450px;
            height: 450px;
            max-height: 450px;
        }

        .product-overlay-text{
            position: absolute;
            bottom:0px;
            padding-bottom:24px;
            left:0;
            right:0;
            margin:0 auto;
            overflow: hidden;

            .main-title{
                font-size:$font-22;
                font-family: $font-family-dinpro-regular;
                text-shadow: 0 0 3px #212121;
                text-align: center;
                color:$white;
                margin-bottom:20px;
            }
            .main-btn{
                padding:8px 10px;
                border:1px solid #fff;
                text-align: center;
                display: block;
                text-decoration: none;
                color:$white;
                width: 60%;
                margin:0 auto;
                margin-bottom:-20px;
                opacity:0;
                transition: all .6s ease-in;
            }
        }
        &:hover{
            box-shadow: 0px 2px 7.52px 0.48px rgba(0, 0, 0, 0.4);
            text-shadow: 0px 2px 7.52px rgba(0, 0, 0, 0.4);
            transform: scale(1.05);
        }
        &:hover .main-btn{
            background-color: $secondary-color;
            color:$white;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            margin-bottom:0;
            opacity: 1;
            
        }

    }
}
}

.animate-line:before {
    width: 10% !important;
}

.animate-line:after {
    width: 10% !important;
}

.animate-line-vertical:before {
    height: 20% !important;
}

.animate-line-sedex-logo:before {
    width: 30% !important;
}

.animate-line-sedex:after {
    width: 20% !important;
}

.footer-line-animate:before {
    height: 13% !important;
}

.footer-line-animate:after {
    height: 13% !important;
}
.red-line-animate{
    width:70% !important;
}

.animate-pline:before {
    width: 18% !important;
}

.about-counter-section{
    background:url(../img/about-counter.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    @include padding-80;

    .section-main-title {
        @include section-main-title;
        color:$white;
        &:before{
            @include section-main-title-before;
            border-top:2px solid $secondary-color;
        }
        &:after{
            @include section-main-title-after;
            border-top:2px solid $secondary-color;
        }

        @-webkit-keyframes line-animate {
            from{width:0;}
            to {width: 10%;}
        }
    
        @-webkit-keyframes rline-animate {
            from{width:0;}
            to {width: 10%;}
        }
    }

    .counter-item{
        padding-top:72px;
        font-family: $font-family-dinpro-light;
        color:$white;
        padding-right: 40px;
        padding-left:40px;
        
        h6{
            font-size:$font-18;
            line-height: 0.8;
            margin-bottom:20px;
        }
        h1{
            font-size:$font-36;
            line-height: 0.8;
            margin-bottom:18px;
        }
        p{
            margin-bottom:0;
            font-size:$font-18;
            font-family: $font-family-dinpro-regular;
        }
    }

}

.product-banner{
    position: relative;
    

    &:after{
        content: '';
        position: absolute;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 5%,rgba(0,0,0,.5) 100%);
        width: 100%;
        top: 0;
        bottom: 0;
    }
    .row{
        margin:0;
    }

    .product-item{
        flex: 1 0 20%;
        overflow: hidden;

        img{
            background-size: cover;
            min-height:174px;
            height: 174px;
            width: 100%;
        }
    }
    .overlay-title{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width: 50%;
        z-index: 100;

        h1{
            font-family: $font-family-dinpro-bold;
            letter-spacing: 2px;
            font-size:$font-42;
            color:$white;
            text-shadow: 0px 0px 21px #000;
            -moz-text-shadow: 0px 0px 21px #000;
            -webkit-text-shadow: 0px 0px 21px #000;
        }
    }
}
.main-section-section{
    display: flex;
    width: 100%;
    .border-bodt{
        display: flex;
        width: 50%;
        position: relative;

        .contact-product-img{
            min-height:100%;
        }
        &:before{
            display: none;
        }
        .main-btn{
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            position: absolute;
            padding: 8px 16px;
            border: 1px solid #fff;
            text-align: center;
            display: block;
            text-decoration: none;
            color: #fff;
            margin: 0 auto;
            &:hover{
                background-color: $secondary-color;
                color:#fff;
            }
            
        }
    }
.product-section-item{
    display: flex;
    width: 50%;
    position: relative;

    img{
        width:100%;
        max-width: 100%;
        min-height: 464px;
        height: 464px;
        max-height: 100%;
        // min-height: 100%;
    }
   
 
   

    .product-items{
        flex: 1;
        .product-details{
            padding:22px;
            .product-title{
                font-family: $font-family-dinpro-bold;
                font-size:$font-28;
                color:$primary-color;
                margin-bottom:20px;
            }
            .detail-item{
                font-family: $font-family-dinpro-regular;
                font-size: $font-16;
                margin-top:20px;
            }
            .main-btn{
                padding: 8px 16px;
                border: 1px solid $secondary-color;
                text-align: center;
                text-decoration: none;
                color: $secondary-color;
                font-size:$font-16;
                top: 14px;
                position: relative;
                font-family: $font-family-dinpro-regular;
                &:hover{
                    background-color: $secondary-color;
                    color:#fff;
                }
            }
        }
    }
    .border-red{
        border-bottom:5px solid $secondary-color;
    }
}



}
.left-animate1{
    text-align: center;
    margin: 0 auto;

    .border-line{
        border-top: 2px solid #c12728;
        position: absolute;
        bottom: 21%;
        left: 0;
        margin: 0 auto;
        right: 0;
        text-align: center;
        padding-bottom: .7%;
        width: 15%;
        height: 2px;
        transition: all 2s linear;
        transform-origin: 100%;
    }
    .border-circle{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        bottom: 21%;
        right: 0;
        left: -15%;
        margin: 0 auto;
        background-color: #c12728;
    }
}
.right-animate{
    text-align: center;
    .border-line{
        border-top: 2px solid #c12728;
        position: absolute;
        bottom: 21%;
        left: 0;
        margin: 0 auto;
        right: 0;
        text-align: center;
        padding-bottom: .7%;
        width: 15%;
        height: 2px;
        transition: all 2s linear;
        transform-origin: 100%;
    }
    .border-circle{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        bottom: 21%;
        left: 0;
        right: -15%;
        margin: 0 auto;
        background-color: #c12728;
    }
}



// .circle-dotr{



//     width: 14px;
//     height: 14px;
//     border-radius: 50%;
//     position: absolute;
//     bottom: 21.3%;
//     right: 40%;
//     margin: 0 auto;
//     background-color: $secondary-color;
// }
// &:before{
//     border-top:2px solid $secondary-color;
//     content:'';
//     position: absolute;
//     bottom:0;
//     right:40%;
//     text-align: center;
//     padding-bottom: 14.7%;
//     width:0%;
//     height: 2px;
//     transition: all 2s linear;
//     transform-origin: 100%;
// }
.contact-section{
@include padding-80;
.section-main-title {
    @include section-main-title;
    color: $secondary-color;
    margin-bottom:40px;
    &:before{
        @include section-main-title-before;
        border-top:2px solid $secondary-color;
    }
    &:after{
        @include section-main-title-after;
        border-top:2px solid $secondary-color;
    }
}
}

.wpcf7-form-control-wrap{
    flex: 1 !important;
}