
@import "_functions";
@import "_variables";
@import "_config";
@import "mixins/_breakpoints";
@include media-breakpoint-up(lg){

    footer {
        .social-list {
            li {
                width: 30px;
                height: 30px;
                margin: 8px 0;
                line-height: 1.2;
            }
        }
    }
}
@include media-breakpoint-between(md, lg){
    .slider-banner {
        height:auto;
        min-height:auto;
        background-color: $secondary-color;
        .overlay-text{     
    }
    #banner-slider {
        min-height: auto;
        max-height:auto;
    .item{
        min-height: auto;
        max-height:auto;
    }
}
}

// .testimonial-section {
//     .single-section-main {
//         #quote_carousel {
//             .sub-content{
//                 border: 1px solid #c12728;
//                 position: relative;
//                 height: auto;
//                         }
//                     }
//                 }
//             }

          

.product-section{
    background-color: $secondary-color;

    &:before{
        background: none;
    }

.product-section-blog {
    .main-product-blog{
        flex-wrap: wrap;
        margin: 0 15px;
        .product-blog{
            flex: 0 0 45.9%;
            margin:0 15px 30px 15px;
            &:first-child{
                margin-left:15px;
            }
        }
    }

}
}

.social-list {
    li{
        margin: 8px 2px;
    }
}
    // product section
    .product-section {
        overflow: auto;
        background-color: $secondary-color;
        padding:40px 0;
        &::before{
            background: none;
        }

        .product-title-small{
            font-size: $font-18;
        }
        .section-main-title{
            font-size: $font-30;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        } 
        
        .product-section-blog{
            margin:40px 0 0 0;
            .main-product-blog{
                flex-wrap: wrap;
                .product-blog {
                    flex: 1 1 30%;
                    margin-bottom:15px;

                    img{
                        height:auto;
                        min-height: auto;
                        max-height: 100%;
                    }

                    &:nth-last-child(1){
                        margin-left:15px;
                    }
                    &:nth-last-child(3){
                        margin-left:15px;
                    }
                }
            }
        }
    }
 // video section
 .video-section {
    height:auto;
    padding:40px 0;
    &:before{
        display: none;
    }
    .product-title-small{
        font-size: $font-18;
    }
    .section-main-title{
        font-size: $font-30;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }   
    .overlay-video-text{
        position: relative;
        top:0;
        transform: translateY(0);
    }
}

// testimonial  section
.testimonial-section {
    padding:40px 0;
    .section-main-title{
        font-size:$font-30;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }  
    .single-section-main {
        padding-top:40px;
        #quote_carousel {

            .sub-content{
                top:0;
                height: 100%;
                .text-d{
                    margin: 20px 0;

                    .author-content{
                        margin:20px;
                    }
                }
            }
            .owl-prev{
                left:0;
                    }
                    .owl-next{
                        right:0;
                            }
                    }
                }
            }
// certificate section
.certification-section{
    .sedex-logo {
            img{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                }
            }
.pattarn-bg{
    margin-right:-15px;
    padding:0;
    min-height: 400px;
&:before{
    display: none;
        }
   }
.sedex-text{
    margin-top:0;
    padding: 40px 20px;

    .sub-title{
        font-size:$font-30;
    
    &:after{
        display: none;
    }
}
}
}

// client section
    .client-section{
        padding:40px 0;

        .padding-40{
            padding-top:40px;
        }
        .section-main-title{
            font-size: $font-30;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }  
    }
// footer section
footer {
    .red-bg-section{
        background: none;
        padding:0;

        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }
    .line-red{
        display: none;
    }
    .footer-title{
        margin-bottom:20px;
    }
    .footer-link{
        padding-top:40px;

        li{
            left:0;
            max-width:90%;
            min-width: 90%;
            margin-left:20px;
        }
    }
    .footer-pd{
        padding-bottom: 40px;
        padding-top: 40px;

    }
}


}
// md media  breackpoint start 
@include media-breakpoint-down(md){

    .navbar-toggler{
        line-height: 1.4;
    }
    .nav-link{
        padding:8px 15px;
    }

    .navbar {
        background-color: #fff;
        transition: .6s all;
        box-shadow: 0 1px 20.79px 0.21px rgba(215,215,215,.63);
    }
    // certificate section
    .certification-section{
            .sedex-logo {
                    img{
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        
                        }
                    }
            .pattarn-bg{
                margin-right:-15px;
                padding:0;
                min-height: 400px;
            &:before{
                    display: none;
                }
           }
            .sedex-text{
                margin-top:0;
                padding: 40px 20px;

                .sub-title{
                    font-size:$font-30;
                
                &:after{
                    display: none;
                }
            }
        }
    }
    
    // testimonial section
    .testimonial-section{
        padding:40px 0;
        .section-main-title{
            font-size:$font-30;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }  
    .single-section-main {
        padding-top:40px;
    #quote_carousel{
    .sub-content{
    height: auto;
    padding: 20px 12px;
    top: 0;
    margin-left: 0;
    border-left:1px solid $secondary-color;
    }
    .owl-next{
        right:0;
        background-color: $white;
        display: none;
    }
    .owl-prev{
        left:0;
        background-color: $white;
        display: none;
    }

            } 
        } 
        .testimonial-content {
            img{
                height: 100%;
                min-height: 100%;
            }
        }
    }

    // video section
    .video-section {
        height:auto;
        padding:40px 0;
        &:before{
            display: none;
        }
        .product-title-small{
            font-size: $font-18;
        }
        .section-main-title{
            font-size: $font-30;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }   
        .overlay-video-text{
            position: relative;
            top:0;
            transform: translateY(0);
        }
    }
    // product section
    .product-section {
        overflow: auto;
        background-color: $secondary-color;
        padding:40px 0;
        &::before{
            background: none;
        }

        .product-title-small{
            font-size: $font-18;
        }
        .section-main-title{
            font-size: $font-30;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }  

        .product-section-blog{
            margin:40px 0 0 0;
            .main-product-blog{
                flex-wrap: wrap;
                .product-blog {
                    flex: 1 1 30%;
                    margin-bottom:15px;

                    &:nth-last-child(1){
                        margin-left:15px;
                    }
                    &:nth-last-child(3){
                        margin-left:15px;
                    }
                }
            }
        }

        
    }

    // client section
    .client-section{
        padding:40px 0;

        .padding-40{
            padding-top:40px;
        }
        .section-main-title{
            font-size: $font-30;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }  
    }

    // footer section
    footer {
        .red-bg-section{
            background: none;
            padding:0;

            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }
        .line-red{
            display: none;
        }
        .footer-title{
            margin-bottom:20px;
        }
        .footer-link{
            padding-top:40px;

            li{
                left:0;
                max-width:90%;
                min-width: 90%;
                margin-left:20px;
            }
        }
        .footer-pd{
            padding-bottom: 40px;
            padding-top: 40px;

        }
    }
// slider section start
    .slider-banner {
        #banner-slider{
            min-height: auto;
            .item{
                min-height: auto;
                max-height: auto;
            }
        }
            .overlay-text{ 
                .slam-text{
                    bottom:0 !important;
                    h3{
                        margin-bottom:-45px;
                    }
                } 
                h3{
                    font-size: 28px;
                    margin-bottom:30px;
                }
                h4{
                    font-size: 50px;
                }
                h1{
                    font-size: 50px;
                }
            } 
        }


        // about page start css
        .about-section{
            background-attachment: fixed;
            .about-sub-minititle{
                margin:15px 0;
            }
            .about-body{
                padding: 40px 30px;
            }
            .mission-vision {
                .light-text{
                    padding-bottom:0;
                }
            }
        }
        .team-section {
            padding: 40px 0;
            .m-b-40{
                margin-bottom: 0;
            }
            .single-team-member{
                flex: 1 1 24.33%;
                min-width: 24.33%;
                margin-bottom:20px !important;
                .member-img {
                    img{
                        min-width:100%;
                        width:100%;
                        height:auto !important;
                        min-height: auto !important;
                    }
                }
            }
        }
        .leader-member{
            margin-bottom:0px !important;
            .single-team-member{
                margin-bottom:20px !important;
            }
        }
        .about-counter-section{
            .counter-item{
                padding:40px 0 0 0;
            }
        }

        // product page start css
        .product-banner{
            .overlay-title {
                h1{
                    font-size: $font-22;
                }
            }
        }
        .main-section-section {
            .product-section-item{
                flex-flow: column;
                padding:0 15px;
                margin-bottom:15px;

                .product-items {
                    .product-details {
                        background-color: #ededed;
                        .main-btn{
                            top:0;
                        }
                    }
                }
            }
            .border-bodt {
                .contact-product-img{
                    background-size: cover;
                    margin-bottom: 20px;
                    height: auto;
                    min-height: 98%;
                }
            }
        }
        .reverse-product-item{
            flex-direction: row-reverse;
            .product-section-item{
                flex-direction: column-reverse;
                
            }
        }
        .right-animate {
            display: none;
        }
        .left-animate1{
            display: none;
        }
        // footer start
        .social-list {
            li{
                margin:8px 0;
            }
        }

       
        .career-opening-section {
            .section-main-title{
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }
        }

        
.inner-banner-section{
    .banner{
        .section-main-title{
            line-height: 1.4;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }
    }
}

.about-counter-section{
    .section-main-title{
        line-height: 1.4;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }
}

.team-section{
    .section-main-title{
        line-height: 1.4;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }
}

.main-section-section{
    justify-content: space-evenly;
    .product-section-item{
        padding:0;
        width: 46%;
        margin-bottom: 20px;
    }
    .border-bodt{
        width: 46%;
        .contact-product-img{
            height: auto;
            min-height: 97.4%;
        }
        }
    }
}

// md up media breckpoint start 
@include media-breakpoint-up(md){
   
}

// sm media  breackpoint start 
@include media-breakpoint-down(sm){
 
    .testimonial-section {
        .testimonial-content {
            img{
                height: 100%;
                min-height: 100%;
            }
        }
    }
    .navbar-toggler{
        line-height: 1.4;
    }
    .nav-link{
        padding:8px 15px !important;
    }
    .slider-banner {
        height:auto;
        min-height:auto;
        background-color: $secondary-color;

        .overlay-text{
            
    }

    // certificate section
    .certification-section{
        .sedex-logo {
                img{
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    }
                }
    .pattarn-bg{
        margin-right:-15px;
        padding:0;
        min-height: 400px;
    &:before{
        display: none;
            }
       }
    .sedex-text{
        margin-top:0;
        padding: 40px 20px;

        .sub-title{
            font-size:$font-30;
        
        &:after{
            display: none;
        }
    }
    }
}

}


// product page section start
.product-banner {
    .product-item{
        flex: 1 1 50%;
    }
    .overlay-title{
        width:90%;

        h1{
            font-size:$font-30;
        }
    }
}

.main-section-section{
    justify-content: space-evenly;
    .product-section-item{
        padding:0;
        width: 46%;
        margin-bottom: 20px;
    }
    .border-bodt{
        width: 46%;
        .contact-product-img{
            height: auto;
            min-height: 97.4%;
        }
        }
    }

// about page css start
.team-section {
    .team-members {
        .single-team-member{
            .member-content{
                padding: 10px;
                .member-name{
                    font-size:$font-14;
                }
            }
        }
    }
}
    
    // slider section
    .slider-banner{
        .overlay-text {
           h3 {
               font-size: $font-18;
               margin-bottom: 20px;
           }
           h1{
               font-size:$font-36;
           }
           h4{
               font-size:$font-36;
               margin-top:20px;
           }
           .slam-text{
   
           h3{
               font-size: $font-18;
           }
       } 
       }
   }

   // career page start css
.career-section{
    padding:40px 0;

    .activity-section{

        .activity-section-img{
            margin-bottom:20px;
            img{
                width: 100%;
                min-width: 100%;
            }
            .m-b-20{
                margin-bottom:0 !important;
            }
        }
    }
}

.career-opening-section {
    padding-bottom:40px;
    .section-main-title{
        font-size: $font-22;
        .panel-group {
            .panel-default {
                .panel-body {
                    .apply_btn{
                        position: relative;
                        margin: 20px 0;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.product-banner {
    .overlay-title{
        width: 80%;
    }
}
.contact-form {
    .form-inline{
        margin-bottom:0;
        .form-group{
            margin-bottom: 20px;
        }
    }
}
}

// xs media  breackpoint start 
@include media-breakpoint-down(xs){
    .navbar-toggler{
        line-height: 1.4;
    }

    .nav-link{
        padding:8px 15px !important;
    }

    // product section

    .product-section-blog{
        .main-product-blog {
            .product-blog {
                img{
                    min-height:auto;
                    height:auto;
                }

                .product-overlay-text{

                    .main-title{
                        font-size:$font-18;
                        margin-bottom: 10px;
                    }
                    .main-btn{
                        width: 80%;
                        font-size:$font-16;
                    }
                }
            } 
        }
    }


 

     // footer section
     footer {
        .col-4{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-2{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-5{
            flex: 0 0 100%;
            max-width: 100%;

            .footer-address{
                flex-flow: column;
            }
        }

        .red-bg-section{
            background: none;
            padding:0;

            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }
        .line-red{
            display: none;
        }
        .footer-title{
            margin-bottom:20px;
        }
        .footer-link{
            padding-top:40px;

            li{
                left:0;
                max-width:90%;
                min-width: 90%;
                margin-left:20px;
            }
        }
        .footer-pd{
            padding-bottom: 20px;
            padding-top: 20px;

        }
    }


    // video section
    .video-section {
        .video-detail{
            font-size:$font-16;
        }
        .product-title-small{
            font-size:$font-16;
        }
        .section-main-title{ 
            font-size: $font-22;
        }

    }


    // certificate section
    .certification-section{
        .flex-sm-wrap {
            flex-wrap: wrap !important;

            .col-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-7{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .sedex-logo {
                img{
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    }
                }
    .pattarn-bg{
        margin-right:-15px;
        padding:0;
        min-height: 400px;
    &:before{
        display: none;
            }
       }
    .sedex-text{
        margin-top:0;
        padding: 40px 0px;
        .content-text{
            font-size: $font-16;
        }

        .sub-title{
            font-size:$font-22;
        
        &:after{
            display: none;
        }
    }
    }
}

// testimonial section

.testimonial-section {
    .single-section-main{
        #quote_carousel{
            .sub-content{
                .text-d{
                    .person-name{
                        font-size: $font-22;
                    }
                    .author-content{
                        font-size: $font-16;
                        margin:10px;
                    }
                }
            }
        }
    }
    .section-main-title{
        font-size: $font-22;
    }
}
// client section start
.client-section{
    .section-main-title{
        font-size: $font-22;
    }
}

// about page css start
.about-section{
    .about-sub-minititle{
        margin:15px 0;
    }
.about-body{
    padding: 40px 15px;
    .mission-border{
        border-right:0;
        border-bottom:2px dashed #b7b7b7;
    }
    .col-6{
        flex:1 1 100%;
        max-width:100%;
        flex-flow: column;
    }
}
.light-text{
    margin-bottom:0;
}
}
// team section start
.team-section{
    padding:40px 0; 
    .team-members{
        .single-team-member {
            width: 100%;
            flex: 1 1 100%;
            margin-bottom:20px;
                .member-img {
                    img{
                        min-width: 100%;
                        width:100%;
                        height:auto !important;
                        min-height:auto !important;
                        }
                    }
                }
            }
            .leader-member{
                margin-bottom:20px;
            }
    .section-main-title{
        font-size: $font-22;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }
}
// title section start

.inner-banner-section{
    .banner{
        .section-main-title{
            font-size: $font-22;
            line-height: 1.4;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }
    }
}

.about-counter-section {
    padding:40px 0; 
    .section-main-title{
        font-size: $font-22;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }
    .counter-item{
        padding-top:40px;
    }
    
}
// product page section
.main-section-section {
    flex-wrap: wrap;
    .product-section-item{
        flex: 1 1 100%;
        min-width: 100%;
    }
    .border-bodt{
        width: 100%;
    }
}

// career page start css
.career-section{
    padding:40px 0;

    .activity-section{

        .activity-section-img{
            margin-bottom:20px;
            .m-b-20{
                margin-bottom:0 !important;
            }
        }
    }
}

.career-opening-section {
    padding-bottom:40px;
    .section-main-title{
        font-size: $font-22;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }

    .panel-group {
        .panel-default {
            .panel-body {
                .apply_btn{
                    position: relative;
                    margin: 20px 0;
                    display: inline-block;
                    right:0;
                }
            }
        }
    }
    .opening-sub-title{
        flex-wrap: wrap;
        .col-md-8{
            max-width: 100%;
            flex: 1 1 100%;
        }
        .col-md-4{
            max-width: 100%;
            flex: 1 1 100%;
        }
        select{
            margin-bottom: 20px;
            width: 100%;
        }
    }
}

// contact page start
.contact-section{
    padding:40px 0;
    .col-8{
        max-width: 100%;
        flex:1 1 100%;
    }
    .contact-form{
        .form-inline{
            margin-bottom:0;
        }
    }
}

   // slider section
   .slider-banner{
    .overlay-text {
        transform: translateX(0%);
       h3 {
           font-size: $font-18;
           margin-bottom: 20px;
       }
       h1{
           font-size:$font-36;
       }
       h4{
           font-size:$font-36;
           margin-top:20px;
       }
       .slam-text{

       h3{
           font-size: $font-18;
       }
   } 
   }
}

}


// @media only screen and (min-width:1366px){
//     .main-section-section {
//         .left-animate{
//             &:before{
//             padding-bottom: 15.4% !important;
//             }
//         }
//     }
//     .main-section-section {
//     .product-section-item
//         &:before{
//             padding-bottom: 15.4% !important;
//         }
//     }
// }

@media only screen and (min-width:1920px){
    .about-section{
        background-size: cover;
    }
    .product-section-blog{
        .main-product-blog {
            .product-blog {
                img{
                    min-height: 620px;
                    height: 620px;
                    max-height: 620px;}
            }
        }
    }
}
@media only screen and (min-width:2560px){
    .right-animate {
        .border-circle{
            bottom:21.5%;
        }
    }
    .left-animate1 {
        .border-circle{
            bottom:21.5%;
        }
    }
    .slider-banner {
        .overlay-text{
            top:36%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .about-section{
        background-size: cover;
    }
    .product-section-blog{
        .main-product-blog {
            .product-blog {
                .product-overlay-text{
                    .main-title{
                        font-size: $font-36;
                    }
                }
                img{
                    min-height: 800px;
                    height: 800px;
                    max-height: 800px;
                    }
                }
            }
        }

        .main-section-section {
            .border-bodt {
                .contact-product-img{
                    min-width: 100%;
                }
            }
        }
}